.section{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    background-color: antiquewhite;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.title {
    text-align: center;
}